env:
  singleUserMode: "true"
  registration: {}
  # emailDomainBlacklist: "example1.com|example2.com"
  # emailDomainWhitelist: "example1.com|example2.com"
  defaultLanguage: "en"
  
  s3: {}
  # enabled: "true"
  # bucket: "mastodon"
  # awsAccessKeyId: "dummy"
  # awsSecretAccessKey: "dummy"
  # region: "us-east-1"
  # protocol: "https"
  # endpoint: "https://self-host-minio.yourcompany.com:9000"
  # hostname: "self-host-minio.yourcompany.com"
  # alias: "self-host-minio.yourcompany.com/v1/AUTH_s3/mastodon"
  # cloudfrontHost: "dummy"
  # streamingApiBaseUrl: "dummy"

  smtp:
    server: "YOUR_SMTP_SERVER"
    port: "587"
    login: "YOUR_LOGIN_ACCOUNT"
    address: "YOUR_MAIL_ADDRESS"
    opensslVerifyMode: "none"
    domain: "YOUR_SERVER_DOMAIN"
    tls: "false"
  
  assets: {}
  # paperclipRootPath: "/var/lib/mastodon/public-system"
  # paperclipRootUrl: "system"
  # cdnHost: "assets.example.com"

httpd:
  name: assets
  servicePort: 80
  containerPort: 80
  resources:
    requests:
      memory: 32Mi
      cpu: 50m

web:
  name: web
  image: tootsuite/mastodon
  imageTag: latest
  imagePullPolicy: IfNotPresent
  servicePort: 80
  containerPort: 3000
  concurrency: 5
  maxThreads: 5
  logLevel: info
  keepMediaDays: 7
  maintenanceHour: 3
  ingress:
    host: SET_YOUR_DOMAIN
  persistentVolume:
    system:
      accessMode: ReadWriteOnce
      size: 8Gi
    assets:
    # Need RWX in order to be multi-attached by maintenance task pod
      accessMode: ReadWriteMany 
      size: 8Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
streaming:
  name: streaming
  image: tootsuite/mastodon
  imageTag: latest
  imagePullPolicy: IfNotPresent
  servicePort: 4000
  containerPort: 4000
  clusterSize: 5
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
sidekiq:
  name: sidekiq
  image: tootsuite/mastodon
  imageTag: latest
  imagePullPolicy: IfNotPresent
  parallelism: 2
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
redis:
  name: redis
  image: redis
  imageTag: 6.2.7-alpine
  imagePullPolicy: IfNotPresent
  servicePort: 6379
  containerPort: 6379
  # You need to have at least "local-path" storage class available
  persistentVolume:
    accessMode: ReadWriteOnce
    size: 8Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
postgres:
  name: postgres
  image: postgres
  imageTag: "14.6-alpine"
  imagePullPolicy: IfNotPresent
  containerPort: 5432
  servicePort: 5432
  env:
    postgres_user: "postgres"
    pguser: "postgres"
    postgres_db: ""
    pgdata: "/var/lib/postgresql/data/pgdata"
  # You need to have at least "local-path" storage class available
  persistentVolume:
    accessMode: ReadWriteOnce
    size: 8Gi
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
  # ARM64 option of wrouesnel/postgres_exporter
  metrics:
    enabled: true
    image: "miskolabor/postgres_exporter"
    imageTag: "latest"
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
